@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

:root {
  /*PRIMARY COLORS*/ /*COLORES PRIMARIOS*/
  --Dark_cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);

  /*SECONDARY COLORS*/ /*COLORES SECUNDARIOS*/
  --Very_dark_blue: hsl(212, 21%, 14%);
  --Dark_grayish_blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
}

/*
    font-family: 'Fraunces', serif;

    font-family: 'Montserrat', sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Cream);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 110vh;
}

.main {
  box-sizing: border-box;
  width: 21.6em;
  height: 38.125em;
  background-color: var(--White);
  border-radius: 0.625em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.article {
  height: 23.25em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.main__image {
  background-image: url(../images/image-product-mobile.jpg);
  width: 21.6em;
  height: 15em;
  background-size: cover;
}

.text {
  width: 18.44em;
  height: 12em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text__preview {
  font-family: "Montserrat", sans-serif;
  color: var(--Dark_grayish_blue);
  letter-spacing: 0.31rem;
  font-size: 0.875rem;
}

.text__h1 {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 2rem;
}

.text__p {
  font-size: 0.875rem;
  font-family: "Montserrat", sans-serif;
  color: var(--Dark_grayish_blue);
}

.price {
  display: flex;
  align-items: center;
  width: 18.44em;
}

.price__new-price {
  font-size: 2rem;
  font-family: "Fraunces", serif;
  color: var(--Dark_cyan);
  margin-right: 0.8em;
}

.price__old-price {
  font-family: "Montserrat", sans-serif;
  text-decoration: line-through;
  color: var(--Dark_grayish_blue);
  font-size: 0.75rem;
}

.button {
  font-family: "Montserrat", sans-serif;
  background-color: var(--Dark_cyan);
  border-radius: 0.62em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22.3em;
  height: 3.2em;
}

.button__span {
  color: var(--White);
  font-size: 0.75rem;
  font-weight: 700;
}

.button__image {
  width: 0.75em;
  margin-right: 0.625em;
}
